@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Creepster";
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background: #dad299; 
  background: -webkit-linear-gradient(
    to right,
    #b0dab9,
    #dad299
  ); 
  background: linear-gradient(
    to right,
    #556358,
    #fefeff,
    #58685c
  );  */
}
.opening {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
}
.container {
  position: relative;
  margin-left: 0%;
}
.logo {
  height: 160px;
  width: 140px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.claps {
  position: absolute;
  top: 0;
  z-index: 1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 9rem);
  gap: 15px;
  grid-template-rows: repeat(4, 9rem);
  perspective: 800px;
}
.card {
  position: relative;
  transform-style: preserve-3d;
  transition: all 1s ease;
}

.cardFace,
.cardQuestionMark {
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 10px;
  /* margin-bottom: 30px; */
  box-shadow: 0 10px 10px rgba(83, 37, 85, 0.7);
  cursor: pointer;
  pointer-events: none;
}
.cardQuestionMark {
  backface-visibility: hidden;
}

.footer {
  font-size: 40px;
  margin-top: 50px;
}
/* .footer button {
  box-shadow: 0 10px 10px rgba(83, 37, 85, 0.7);
  width: 90px;
} */
p {
  margin-top: 20px;
}
span {
  padding: 50px;
}
span .claps {
  padding: 0;
  display: none;
}
.cardFlipped {
  transform: rotateY(180deg);
}
.overlay-text {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: #ff0000;
}

.overlay-text-small {
  font-size: 0.3em;
}

.overlay-text.visible {
  display: flex;
  flex-direction: column;
  animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 10em;
  }
}
#vic {
  height: 80%;
  width: 100%;
}
