@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

body {
  font-family: "Creepster";
  background: #20002c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #cbb4d4,
    #20002c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #cbb4d4, #20002c);
  background-repeat: no-repeat;
  min-height: 100vh;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  /* background-color: bisque; */
  padding: 10px;
  border-radius: 10px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  /* height: 200px; */
}
.grid button {
  font-size: 20px;
  font-weight: bold;
}
.footer {
  display: grid;
  grid-template-columns: 200px 100px 100px;
  grid-template-rows: 30px;
  padding-top: 20px;
  font-size: 20px;
  /* font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px; */
}
.footer button {
  box-shadow: 0 10px 10px rgba(83, 37, 85, 0.7);
}
span {
  padding-left: 20px;
}
