@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

body {
  font-family: "Creepster";
  background: #654ea3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #eaafc8,
    #654ea3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #eaafc8,
    #654ea3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  min-height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 0%;
}
.info {
  position: absolute;
  background-color: rgb(223, 255, 196);
  border-radius: 10px;
  border-style: double;
  display: none;
}
.logo {
  position: absolute;
  left: 0;
  cursor: help;
}
.title {
  height: 280px;
  margin-bottom: 100px;
  margin-left: 300px;
}
.row {
  display: grid;
  grid-template-columns: repeat(2, 30rem);
  gap: 20%;
  margin-left: 10%;
}
#zombie1,
#zombie2 {
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .logo {
    display: none;
  }
  .title {
    height: 120px;
    float: left;
  }
  .row {
    display: grid;
    grid-template-columns: repeat(1, 20rem);
    gap: 10%;
    margin-left: 4%;
  }
}

@media only screen and (max-width: 1300px) {
  .title {
    height: 160px;
  }
  .container {
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .container-fluid {
    display: grid;
    grid-template-columns: repeat(2, 15rem);
    gap: 15%;
    margin-left: 4%;
  }
}
