@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

body {
  font-family: "Creepster";
}
.logo {
  height: 60px;
  width: 100px;
}

.container-fluid {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
/* #zombie1 {
  /* margin-top: 80px; */
/* height: 50%;
  width: 50%; 
} */
